/*======= GENERAL =======	*/

/* lato-regular - latin */
@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v11-latin/lato-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v11-latin/lato-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
    font-family: 'Lato-Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
    url('../fonts/lato-v11-latin/lato-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v11-latin/lato-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v11-latin/lato-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v11-latin/lato-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    background-color: #f7f9fc;
    font-family: Lato-Regular, sans-serif;
}

/*----- forms ---------------*/
textarea,
input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 20px;
    background-color: #f7f9fc;
    border: none;
}

input[type="email"],
input[type="text"] {
    height: 50px;
}

textarea {
    resize: none;
}

input:focus {
    outline-color: #5c6bc0;
    background-color: white;
}

textarea:focus {
    outline-color: #5c6bc0;
    background-color: #fff;
}

/*input:valid {*/
    /*border: 1px solid #96a3ee;*/
/*}*/

input:invalid {
    outline-color: #db3c3c;
    border: 1px solid #db3c3c;
    background-color: #f8f0f0;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

/*---------------------------*/

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #b2b2b2;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: #585858;
}

a:hover {
    color: #5c6bc0;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

*::selection {
    color: #fff;
    background-color: #5c6bc0;
}

.btn {
    padding: 15px 30px;
    font-family: Lato-Bold, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    color: #5c6bc0;
    background-color: #fff;
    border: 1px solid transparent;
}

.btn:hover {
    border: 1px solid #f1f1f1;
    text-decoration: none;
}

.btn:active {
    border: 1px solid #7d89cd;
}

.input-wrapper {
    margin-bottom: 30px;
}

/*----- MAIN HEADER ---------------------*/

.page-wrapper {
    position: relative;
    right: 0;
    transition: right 3s ease;
}

.close {
    right: 240px;
}

.main-header {
    height: 150px;
    padding-top: 50px;
    background-color: #f7f9fc;
}

.main-header-logo a {
    color: #333333;
    font-size: 42px;
    font-family: Lato-Italic, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.burger-icon {
    padding-top: 10px;
}

/*-------- NAVIGATION -------------------*/

input[type="search"] {
    width: 150px;
    margin: 30px 0 40px 0;
    border: none;
    background: transparent;
    outline-color: transparent;
    color: #9597a3;
    font-size: 18px;
}

button {
    outline-color: transparent;
}

.main-header-nav {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    transition: right 3s ease;
    background-color: #252b4d;
    z-index: 500;
}

.open {
    right: 0;
}

.main-header-nav-list {
    display: flex;
    flex-direction: column;
}

.main-header-nav-list li {
    padding-left: 15px;
    order: 5;
}

li.nav-search {
    margin-bottom: 20px;
    border-bottom: 1px solid #3b415f;
    order: 1;
}

.nav-search {
    order: 0;
}

.main-header-nav-list li a {
    display: block;
    padding: 20px 0;
    color: #fff;
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.main-header-nav-list li a:hover {
    text-decoration: none;
    color: #a9afdb;
}

.main-header-nav-list li a:active {
    color: #5c6bc0;
    border-bottom: none;
}

.nav-search-btn {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    background: url("../img/search-white.png") no-repeat;
}

.nav-footer {
    margin: 100px 0 35px 0;
    padding-left: 15px;
}

.nav-footer h3 {
    color: #fff;
    font-family: Lato-Italic, sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.nav-footer p {
    color: #9597a3;
    font-size: 14px;
}

/*----- //navigation -------------------------*/

/*----- MAIN CONTENT --------------------*/

.main {
    background-color: #f7f9fc;
}
.card {
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

.post {
    position: relative;
    padding: 30px 0;
    margin: 10px 0;
}

.post-header {
    margin: 15px 25px;
}

.post-header-date {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    color: #bdbdbd;
}

.post-bookmark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background-color: #5c6bc0;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.post-bookmark:hover {
    text-decoration: none;
    color: #fff;
    background-color: #6c79c6;
}

.post-bookmark:active {
    color: #fff;
    background-color: #5360ac;
}

.quote-icon {
    position: absolute;
    top: 65px;
    left: -12px;
}

.post-quote-block {
    margin: 70px 25px 35px 25px;
}

.quote {
    font-family: Lato-Italic, sans-serif;
}

.quote-author {
    color: #cacaca;
}

.post-content {
    position: relative;
    margin: 35px 25px;
    padding-top: 25px;
}

.post-img {
    width: 100%;
    margin-top: -30px;
}

.post-content-img {
    width: 100%;
}

.post-content h3 {
    font-family: Lato-Italic, sans-serif;
    font-size: 18px;
    color: #a3a3a3;
}

 p {
    font-size: 16px;
    color: #585858;
}

p.post-content-main-idea {
    position: relative;
    color: #b8b8b8;
    padding-left: 30px;
}

.post-content-main-idea:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: #b8b8b8;
}

.post-content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
}

.post-footer {
    margin: 15px 25px;
}

.post-footer:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.post-footer-hashtags a {
    margin-right: 10px;
}

.pagination {
    text-align: center;
    margin: 30px 0 50px 0;
}

.pagination-list li {
    display: inline-block;
    margin: 0 8px;
}

.pagination-list li a {
    display: block;
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #585858;
    line-height: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

.pagination-list li a:hover {
    background-color: #5c6bc0;
    text-decoration: none;
    color: #fff;
}

/* --------- MAIN FOOTER -------- */

.main-footer {
    padding: 30px 15px;
    margin-top: 40px;
    text-align: center;
    background-color: #5c6bc0;
}

.main-footer-logo a {
    font-family: Lato-Italic, sans-serif;
    font-size: 36px;
    color: #4f5ca6;
}

.main-footer-logo a:hover {
    text-decoration: none;
}

.main-footer-nav-list li a {
    display: block;
    padding: 12px 0;
    color: #fff;
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.main-footer-nav-list-inactive {
    color: #a9afdb;
}

.main-footer-description,
.main-footer-copyright {
    position: relative;
    padding: 30px 10px;
    margin: 0;
    color: #a0a7d7;
}

.main-footer-copyright a {
    font-family: Lato-Bold, sans-serif;
    color: #fff;
}

.main-footer-description:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #5765b5;
}

.main-footer-description:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #5765b5;
}

.main-footer-social-list li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.main-footer-social-list li:hover {
    background-color: #5360ac;
}

/*----------------------------------------------*/

/*-------- About Us / Archive / Contacts -------*/
.archive,
.contacts,
.about-us {
    padding: 20px 50px;
}

.archive-header,
.contacts-header,
.about-us-header {
  position: relative;
}

.archive-header:after,
.contacts-header:after,
.about-us-header:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #eee;
}

.archive-header-title,
.contacts-header-title,
.about-us-header-title {
    font-family: Lato-Bold, sans-serif;
    font-size: 40px;
}

.about-us-header-description {
    padding-bottom: 30px;
    font-family: Lato-Regular, sans-serif;
    color: #a3a3a3;
    font-size: 24px;
}

.archive-header-description,
.contacts-header-description {
    padding-bottom: 30px;
    font-family: Lato-Regular, sans-serif;
    color: #585858;
    font-size: 24px;
}

.archive-latest-title,
.archive-categories-title,
.archive-latest-title,
.archive-month-title {
    color: #cacaca;
    font-size: 30px;
}

.archive-latest-list li a,
.archive-categories-list li a,
.archive-latest-list li a,
.archive-month-list li a {
    color: #333;
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
}

.archive-latest-list li a:hover,
.archive-categories-list li a:hover,
.archive-latest-list li a:hover,
.archive-month-list li a:hover {
    color: #5c6bc0;
}

.archive-latest-list li,
.archive-categories-list li,
.archive-latest-list li,
.archive-month-list li {
    padding: 15px 0;
}


/*----------------------------------------------*/

@media (min-width: 320px) {

    .post-content-img {
        height: 400px;
        width: auto;
        float: left;
    }
}

@media (min-width: 320px) and (max-width: 544px) {
    input[type="search"] {
        width: 220px;
    }

    .main-header-nav {
        right: -320px;
        width: 320px;
    }

    .open {
        right: 0;
    }

    .close {
        right: 320px;
    }

    .main-header-nav-list li {
        padding-left: 30px;
    }

    .main-header-nav-list li a {
        padding: 25px 0;
    }

    .nav-footer {
        margin: 100px 0 35px 0;
        padding-left: 30px;
    }
}

@media (min-width: 544px) {
    input[type="search"] {
        display: none;
    }

    li.nav-search {
        border-bottom: none;
        order: 6;
    }

    .burger-icon {
        display: none;
    }

    .main-header-nav {
        position: static;
        width: 58.33333%;
        background-color: #f7f9fc;
    }

    .main-header-nav-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-header-nav-list li {
        padding: 0;
    }

    .main-header-nav-list li a {
        position: relative;
        padding: 0 0 5px 0;
        color: #333;
    }

    .main-header-nav-list li a:hover {
        color: #5c6bc0;
    }

    .main-header-nav-list li a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #5c6bc0;
        transition: width 0.5s ease 0s;
    }

    .main-header-nav-list li a:hover:before {
        width: 100%;
    }

    .nav-search-btn {
        background: url("../img/search-normal.png") no-repeat;
    }

    .nav-search-btn:hover {
        background: url("../img/search-hover.png") no-repeat;
    }

    .post-bookmark {
        top: 15px;
        right: -15px;
        padding: 10px 15px;
        transition: all 0.2s;
    }

    .post-bookmark:hover {
        top: 12px;
        right: -18px;
        padding: 12px 21px;
    }

    .nav-footer {
        display: none;
    }

    .main-footer-nav-list li{
        display: inline-block;
        margin: 0 15px;
    }

    .post-footer-hashtags {
        line-height: 57px;
        float: right;
        margin: 0;
    }
}

@media (min-width: 544px) and (max-width: 768px) {
    .main-header-nav-list li a {
        font-size: 14px;
    }
}