.archive,
.contacts,
.about-us,
.search {
  padding: 20px;

  &-header,
  &-header,
  &-header {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #eee;
    }

    &-title {
      font-family: Lato-Bold, sans-serif;
      font-size: 30px;
    }
  }
}

.about-us-header-description {
  padding-bottom: 30px;
  font-family: Lato-Regular, sans-serif;
  color: #a3a3a3;
  font-size: 18px;
}

.archive-header-description,
.contacts-header-description {
  padding-bottom: 30px;
  font-family: Lato-Regular, sans-serif;
  color: #585858;
  font-size: 16px;
}

.archive-latest-title,
.archive-categories-title,
.archive-latest-title,
.archive-month-title {
  color: #cacaca;
  font-size: 20px;
}

.archive-latest,
.archive-categories,
.archive-latest,
.archive-month {
  &-list {
    li {
      padding: 15px 0;

      a {
        color: #333;
        font-family: Lato-Bold, sans-serif;
        font-size: 15px;

        &:hover {
          color: #5c6bc0;
        }
      }
    }
  }
}


.search {

  &-title {
    font-weight: normal;
    font-size: 24px;

    span {
      font-family: Lato-Bold, sans-serif;
    }
  }

  &-count {
    color: #a3a3a3;
    font-size: 18px;
    font-family: Lato-Italic, sans-serif;
  }
}

@media (min-width: 544px) {
  .archive,
  .contacts,
  .about-us,
  .search {
    padding: 20px 50px;

    &-header,
    &-header,
    &-header {
      &-title {
        font-family: Lato-Bold, sans-serif;
        font-size: 40px;
      }
    }
  }

  .about-us-header-description {
    font-size: 20px;
  }

  .archive-header-description,
  .contacts-header-description {
    font-size: 17px;
  }

  .archive-latest-title,
  .archive-categories-title,
  .archive-latest-title,
  .archive-month-title {
    font-size: 30px;
  }

  .archive-latest,
  .archive-categories,
  .archive-latest,
  .archive-month {
    &-list {
      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
}
